@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--primary: #F7F8F8;
	--accent-1: #FFBF00;
	--accent-2: #FF6B00;
	--accent-shadow: #FF6B0055;
	--accent-gradient: linear-gradient(135deg, var(--accent-1) 0%, var(--accent-2) 100%);
	--secondary: #6A7383;
	--element: #181819;
	--element-border: #2B2F36;
}

body::before {
	content: "";
	margin: 0;
	padding: 0;

	background: rgb(19,21,22);
	background: linear-gradient(180deg, rgba(19,21,22,1) 0%, rgba(9,10,10,1) 100%); 
	
	width: 100vw;
	height: 100vh;

	display: block;
	position: absolute;

	z-index: -2;
}

body::after {
	content: "";
	margin: 0;
	padding: 0;

	background-image: url("grid.png");
	background-position: center; 

	opacity: 25%;

	width: 100vw;
	height: 100vh;

	display: block;
	position: absolute;

	z-index: -2;

	top: 0;
	left: 0;
}

body { 
	margin: 0rem;
	padding: 0rem;

	width: 100vw;
	height: 100vh;
}

h1 {
	font-family: "Inter", sans-serif;
	font-optical-sizing: auto;
	font-weight: 600;
	font-style: normal;
	font-size: 2.5rem;

	color: var(--primary);

	margin: 0rem;
}

h4 {
	font-family: "Inter", sans-serif;
	font-optical-sizing: auto;
	font-weight: 600;
	font-style: normal;
	font-size: 1rem;

	color: var(--primary);

	margin: 0rem;
}

p {
	font-family: "Inter", sans-serif;
	font-optical-sizing: auto;
	font-weight: 600;
	font-style: normal;
	font-size: 1rem;

	color: var(--primary);

	margin: 0rem;
}

button {
	font-family: "Inter", sans-serif;
	font-optical-sizing: auto;
	font-weight: 600;
	font-style: normal;
	font-size: 0.75rem;

	background: var(--primary);
	color: var(--element);

	padding-left: 0.50rem;
	padding-right: 0.50rem;
	padding-top: 0.4rem;
	padding-bottom: 0.4rem;

	border-radius: 0.4rem;

	margin: 0rem;

	transition: color 150ms ease, background 150ms ease, border 150ms ease, filter 150ms ease;

	border: solid 2px transparent;

	box-sizing: content-box;
}

button:hover {
	color: var(--primary);
	background: var(--element);
	border: solid 2px var(--primary);
}

button.bold:hover {
	border: solid 2px var(--primary);

	filter: drop-shadow(0px 0px 30px var(--accent-shadow));
}

button.element:hover {
	border: solid 2px var(--primary);
}

input {
	color: var(--primary);
	background: var(--element);
	border: 2px solid var(--element-border);

	border-radius: 0.4rem;

	margin-top: 0.2rem;
	padding: 0.2rem;
	padding-left: 0.4rem;
	padding-right: 0.4rem;

	font-family: "Inter", sans-serif;
	font-optical-sizing: auto;
	font-weight: 600;
	font-style: normal;
	font-size: 0.75rem;

	transition: border 150ms ease;
}

input::placeholder {
	color: var(--element-border);

	font-family: "Inter", sans-serif;
	font-optical-sizing: auto;
	font-weight: 600;
	font-style: normal;
	font-size: 0.75rem;
}

input:focus {
	outline: none;
	border: solid 2px var(--primary);
}

input:hover {
	border: solid 2px var(--primary);
}

button.bold {
	background: var(--accent-1);
	background: var(--accent-gradient); 
}

button.element {
	color: var(--primary);
	background: var(--element);
	border: 2px solid var(--element-border);
}

.link {
	color: var(--primary);

	font-family: "Inter", sans-serif;
	font-optical-sizing: auto;
	font-weight: 600;
	font-style: normal;
	font-size: 0.75rem;
}

.link:hover {
	text-decoration: underline;
}

span.bold {
	background: var(--accent-1);
	background: var(--accent-gradient); 
	background-clip: text;
	color: transparent;

	filter: drop-shadow(0px 0px 30px var(--accent-shadow));
}

h1.bold {
	background: var(--accent-1);
	background: linear-gradient(135deg, var(--accent-1) 0%, var(--accent-2) 100%); 
	background-clip: text;
	color: transparent;

	filter: drop-shadow(0px 0px 30px var(--accent-shadow));
}